@model OrderViewModel
<div class="container-xxl">
    <div class="row">
        <div class="col"><img src="~/content/images/checkout/momo_qr.png" alt=""></div>
        <div class="col p-5">
            <h2>Order Infomation</h2>
            <p class="text--subfont">Order Code: @Model.OrderCode</p>
            <table class="table border table-striped">
                <tr>
                    <th>Product</th>
                    <th>Subtotal</th>
                </tr>
                @{
                        decimal subtotal = 0;
                }
                @foreach (var item in Model.listOrderDetail)
                {
                    subtotal += item.Quantity * item.product.Price;
                    <tr>
                        <td class="product_name text--subfont">@item.product.ProductName <span class="text--subfont">× @item.Quantity</span></td>
                        <td class="product_subtotal text--subfont">$@(item.product.Price * item.Quantity)</td>
                    </tr>
                }
                <tr>
                    <th>
                        @* <div class="mb-2">Subtotal</div> *@
                        <div class="text--subfont">Total</div>
                    </th>
                    <td>
                        @* <div class="product_subtotal mb-2">$@subtotal</div> *@
                        <div class="product_total">$@subtotal</div>
                    </td>
                </tr>
            </table>
            <p class="text--subfont">Scan this QR to pay</p>
            <p class="text--subfont">Transfer content: @Model.OrderCode</p>
            <a asp-controller="order" asp-action="paycheck" asp-route-orderid="@Model.OrderId" class="btn btn--yellow rounded-pill text--subfont btn--hover">Done</a>
        </div>
    </div>
</div>