@model MenuViewModel
@{
    ViewData["Title"] = ViewData["category"].ToString().ToUpper();
    List<ProductModel> products = new List<ProductModel>();
    if(Model.products is not null)
    {
        products = Model.products;
    }
    
}
<div class="container-xxl">
    <!--Banner-->
    <div class="container-fluid list_banner">
        <h1>@ViewData["category"].ToString().ToUpper()</h1>
    </div>
    <!--Main-->
    <div class="container-fluid d-flex flex-column flex-md-row-reverse mt-3 ps-0 ps-xl-2 row" id="category_ctn">
        <div class="col-lg-8 col-md-6 col-12">
            <div class="filter text-end my-2">
                <select name="" id="">
                    <option value="">Default sorting</option>
                    <option value="">Sort by popularity</option>
                    <option value="">Sort by average rating</option>
                    <option value="">Sort by latest</option>
                    <option value="">Sort by price: high to low</option>
                    <option value="">Sort by price: low to high</option>
                </select>
            </div>
            <div class="row row-cols-xl-3 row-cols-lg-2 row-cols-1 g-2">
                <!---->
                    @foreach (var product in products)
                    {
                        StringBuilder sb = new StringBuilder();
                        sb.Append(@product.ProductName.ToLower().Replace(" ", "_")).Append(".png");
                        string imgName = sb.ToString();
                        <div class="col">
                            <div class="card">
                                <a asp-controller="product" asp-action="index" asp-route-productid="@product.ProductId">
                                    <img src="~/content/images/menu/@product.category.CategoryName.ToLower()/@imgName?+@DateTime.Now.Ticks.ToString()"  class="card-img-top"
                                        alt="...">
                                        </a>
                                    <div class="card-body">
                                        <h5 class="card-title text-truncate"><a asp-controller="Menu" asp-action="Product" asp-route-id="@product.ProductId" class="text-decoration-none">@product.ProductName</a></h5>
                                <div class="price_block d-flex">
                                    <div class="currency">$</div>
                                    <div class="price">@product.Price</div>
                                </div>
                                <p class="card-text ps-4 text-truncate">@product.Description</p>
                                <a asp-controller="cart" asp-action="AddToCart" asp-route-productid="@product.ProductId" class="btn rounded-pill btn__a btn--yellow btn--hover">
                                    <span><i class="fa-solid fa-cart-shopping"></i>&nbsp;ADD TO CART</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    }
        </div>
            @* <partial name="_Paging" model="@pagingModel" /> *@
    </div>
    <div class="col-lg-4 col-md-6 col-12 position-sticky">
        <div class="evelator position-sticky">
            <partial name="_MenuEvelator" />
                @* <div class="d-flex flex-column">
            <div class="eve_items d-flex align-items-center mb-2" id="eve_burgers">
            <img src="~/content/images/home/evelator/Frame.svg" alt="">
            <h2><a asp-controller="menu" asp-action="burgers" class="menu__link">BURGERS</a></h2>
            </div>
            <div class="eve_items d-flex align-items-center mb-2" id="eve_pizza">
            <img src="~/content/images/home/evelator/Frame-1.svg" alt="">
            <h2><a href="">PIZZA</a></h2>
            </div>
            <div class="eve_items d-flex align-items-center mb-2" id="eve_drinks">
            <img src="~/content/images/home/evelator/Group-1.svg" alt="">
            <h2><a href="">DRINKS</a></h2>
            </div>
            <div class="eve_items d-flex align-items-center mb-2" id="eve_pasta">
            <img src="~/content/images/home/evelator/Frame-2.svg" alt="">
            <h2><a href="">PASTA</a></h2>
            </div>
            <div class="eve_items d-flex align-items-center mb-2" id="eve_soup">
            <img src="~/content/images/home/evelator/Frame-3.svg" alt="">
            <h2><a href="">SOUP</a></h2>
            </div>
            <div class="eve_items d-flex align-items-center mb-2" id="eve_sushi">
            <img src="~/content/images/home/evelator/Group-2.svg" alt="">
            <h2><a href="">SUSHI</a></h2>
            </div>
            </div>
            <div class="free_drink d-flex flex-column position-relative align-items-center">
            <img src="~/content/images/coffe.png" alt="">
            <img class="position-absolute free" src="~/content/images/free.png" alt="">
            <h2 class="ps-4 mt-5">DRINK</h2>
            <p>When Ordering From $80</p>
            <a class="rounded-pill btn__a btn--dark btn--hoverlight" href="">
            <span>ORDER NOW</span>
            </a>
            </div> *@
        </div>
    </div>
</div>
</div>