@model List<CartItem>

<!--Cart-->
@if (Model.Count > 0)
{
  decimal total = 0;
  <div class="container-xxl  mt-3 pb-5 align-items-center pe-1" id="cart_ctn">
    <h2 class="text-center">Cart</h2>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="text-decoration-none" asp-controller="home"
            asp-action="index"><span>Home</span></a></li>
        <li class="breadcrumb-item"><a class="text-decoration-none" asp-action="index"
            asp-controller="cart"><span>Cart</span></a></li>
      </ol>
    </nav>
    <div class="row gx-lg-5 gy-3 gx-0">
      <div class="left col-lg-9 col-12">
        <table class="table">
          <tr>
            <th></th>
            <th></th>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
            <th></th>
          </tr>
          @foreach (var cartitem in Model)
          {
            var thanhtien = cartitem.quantity * cartitem.product.Price;
            total += thanhtien;
            <tr>
              <td><a asp-controller="cart" asp-action="removecart" asp-route-productid="@cartitem.product.ProductId"
                  style="font-size: 20px; font-weight: bold;">&nbsp;&#215;&nbsp;</a></td>
              <td>
                @{
                  string url = Encoding.UTF8.GetString(Convert.FromBase64String(cartitem.product.Image));
                }
                <img src="~/@url" class="img-thumbnail" class="card-img-top" alt="...">
              </td>
              <td><a asp-controller="product" asp-action="index"
                  asp-route-productid="@cartitem.product.ProductId">@cartitem.product.ProductName</a></td>
              <td>$@(cartitem.product.Price.ToString("n0"))</td>
              <td><input asp-for="@cartitem.quantity" id="@($"quantity-{cartitem.product.ProductId}")" min=1
                  class="focus--shadow rounded-pill border-1 border" /></td>
              <td>@(thanhtien.ToString("n0"))</td>
              <td>
                <button class="btn btn-success updatecartitem" data-productid="@cartitem.product.ProductId"
                  asp-controller="cart" asp-action="UpdateCart">Update</button>
              </td>
            </tr>
          }
          <tr>
            <td class="actions p-3" colspan="7"><label for="">Coupon:</label><input class="ms-1" type="text" name=""
                id="coupon_code" placeholder="Coupon code"><button class="ms-1">Apply Coupon</button></td>
          </tr>
        </table>
      </div>
      <div class="right col-lg-3 col-12 border-1 border d-flex flex-column">
        <h2 class="my-3">CART TOTALS</h2>
        <table>
          <tr>
            <th>Subtotal</th>
            <td>$@(total.ToString("n0"))</td>
          </tr>
          <tr>
            <th>Total</th>
            <td class="total_price">$@(total.ToString("n0"))</td>
          </tr>
        </table>
        <a class="p-3" asp-controller="checkout" asp-action="index"><i class="fa-solid fa-check">&nbsp;</i>PROCEED TO
          CHECKOUT</a>
      </div>
    </div>
  </div>
  @section Scripts {
  <script>
    $(document).ready(function () {
      $(".updatecartitem").click(function (event) {
        event.preventDefault();
        var productid = $(this).attr("data-productid");
        var quantity = $("#quantity-" + productid).val();
        $.ajax({
          type: "POST",
          url: "@Url.RouteUrl(new { controller = "cart", action = "UpdateCart"})",
          data: {
            productid: productid,
            quantity: quantity
          },
          success: function (result) {
            window.location.href = "@Url.RouteUrl("cart")";
          }
        });
      });
    });
  </script>
}
}
else
{
  <div class="container-xxl  mt-3 align-items-center pe-1" id="cart_ctn">
    <h2 class="text-center">Cart</h2>
    <p class="alert alert-danger text--subfont mt-5">Cart empty. Get some food <a asp-controller="menu" asp-action="index"
        class="text-decoration-none text--subfont">here</a></p>
  </div>
}